 body {
    margin: 0;
    height: 100%;
 }

 .progress-bar-container {
  position: absolute;
  z-index: 5;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, rgba(57, 7, 184, 0.9), rgba(90, 7, 184, 0.3));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 }

 #progress-bar {
  width: 30%;
  margin-top: 0.5%;
  height: 2%;
 }

 label {
  font-family: "Stack Sans Notch", sans-serif;
  color: white;
  font-size: 2rem;
 }

 #topview {
   position: absolute;
   width: 350px;
   height: 350px;
 }

 .opponents-turn-text {
  display: none;
  font-family: "Stack Sans Notch", sans-serif;
  position: absolute;
  background-color: transparent;
  text-align: center;
  width: 100%;
 }

 .opponents-turn-text span {
  padding-top: 40px;
  font-size: 50px;
  color: white;
  text-align: center;
  display: inline-block;
  transition: all 0.5s;
  animation: animate 2s infinite;
 }

 .opponents-turn-text span:nth-child(2) {
  animation-delay: 0.1s;
 }

  .opponents-turn-text span:nth-child(3) {
  animation-delay: 0.2s;
 }

  .opponents-turn-text span:nth-child(4) {
  animation-delay: 0.3s;
 }

 @keyframes animate {
  0% {
    transform: translateY(0);
    margin-left: 0;
  }
  25% {
    transform: translateY(-15px);
    margin-left: 10;
  }
  100% {
    transform: translateY(0);
    margin-left: 0;
  }
 }